<!DOCTYPE html>
<html{html_attr}>
<head>{head}

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />
    <link href="impress.css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/jmpress.js"></script>
    <script src="js/jmpress_init.js" defer="defer"></script>
</head>
<body>{body}</body>
</html>